.grid{
  background-image: url('../../../assets/sean-pollock-PhYq704ffdA-unsplash.jpg')!important;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vmin;
}
span{
  cursor: pointer;
}

@media screen and (min-width:1400px) {
  .grid{
    background-position: top;
  }
}
