<div class="grid">
  <div class="col-12">
    <div
      class="flex justify-content-center align-content-center text-align-center"
    >
      <form>
        <p-card
          styleClass="mt-10"
          header="Login"
          subheader="Faça Login com sua conta existente!"
          *ngIf="loginCard"
        >
          <div
            class="flex justify-content-center align-content-center text-align-center"
          >
            <input
              type="email"
              pInputText
              placeholder="E-mail"
            />
          </div>
          <div
            class="flex justify-content-center align-content-center text-align-center mt-3"
          >
            <input
              type="senha"
              pInputText
              placeholder="Senha"
            />
          </div>
          <div class="flex justify-content-center mt-3">
            <button type="submit" pButton pRipple label="Login"></button>
          </div>
          <span
            class="flex justify-content-center align-content-center text-align-center mt-3 text-red-600 font-semibold" (click)="loginCard = !loginCard"
            >Criar Conta</span
          >
        </p-card>
      </form>
      <form>
        <p-card
          styleClass="mt-10"
          header="Criar Conta"
          subheader="Crie já sua conta gratuita!"
          *ngIf="!loginCard"
        >
          <div
            class="flex justify-content-center align-content-center text-align-center"
          >
            <input
              type="text"
              pInputText
              placeholder="Nome"
            />
          </div>
          <div
          class="flex justify-content-center align-content-center text-align-center mt-3"
        >
          <input
            type="email"
            pInputText
            placeholder="E-mail"
          />
        </div>
          <div
            class="flex justify-content-center align-content-center text-align-center mt-3"
          >
            <input
              type="senha"
              pInputText
              placeholder="Senha"
            />
          </div>
          <div class="flex justify-content-center mt-3">
            <button type="submit" pButton pRipple label="Criar Conta"></button>
          </div>
          <span
            class="flex justify-content-center align-content-center text-align-center mt-3 text-red-600 font-semibold"
            (click)="loginCard=!loginCard"
            >Fazer Login</span
          >
        </p-card>
      </form>
    </div>
  </div>
</div>
