<div class="grid">
  <div class="col-12">
    <div
      class="flex justify-content-center align-content-center text-align-center"
    >
      <form [formGroup]="loginForm" (ngSubmit)="onSubmitLoginForm()">
        <p-card
          styleClass="mt-10"
          header="Login"
          subheader="Faça Login com sua conta existente!"
          *ngIf="loginCard"
        >
          <div
            class="flex justify-content-center align-content-center text-align-center"
          >
            <input
            formControlName="email"
              type="email"
              pInputText
              placeholder="E-mail"
            />
          </div>
          <div
            class="flex justify-content-center align-content-center text-align-center mt-3"
          >
            <input
            formControlName="password"
              type="senha"
              pInputText
              placeholder="Senha"
            />
          </div>
          <div class="flex justify-content-center mt-3">
            <button type="submit" pButton pRipple label="Login" [disabled]="loginForm.invalid"></button>
          </div>
          <span
            class="flex justify-content-center align-content-center text-align-center mt-3 text-red-600 font-semibold" (click)="loginCard = !loginCard"
            >Criar Conta</span
          >
        </p-card>
      </form>
      <form [formGroup]="sinupForm" (ngSubmit)="onSubmitSignupForm()">
        <p-card
          styleClass="mt-10"
          header="Criar Conta"
          subheader="Crie já sua conta gratuita!"
          *ngIf="!loginCard"
        >
          <div
            class="flex justify-content-center align-content-center text-align-center"
          >
            <input
              formControlName="name"
              type="text"
              pInputText
              placeholder="Nome"
            />
          </div>
          <div
          class="flex justify-content-center align-content-center text-align-center mt-3"
        >
          <input
            formControlName="email"
            type="email"
            pInputText
            placeholder="E-mail"
          />
        </div>
          <div
            class="flex justify-content-center align-content-center text-align-center mt-3"
          >
            <input
              formControlName="password"
              type="senha"
              pInputText
              placeholder="Senha"
            />
          </div>
          <div class="flex justify-content-center mt-3">
            <button  type="submit" pButton pRipple label="Criar Conta" [disabled]="sinupForm.invalid"></button>
          </div>
          <span
            class="flex justify-content-center align-content-center text-align-center mt-3 text-red-600 font-semibold"
                     (click)="loginCard=!loginCard"
            >Fazer Login</span
          >
        </p-card>
      </form>
    </div>
  </div>
</div>
